# -----------------------------------------------------------------------------
#                          Environment Configuration
# -----------------------------------------------------------------------------
# This file contains the key environment information used to build and maintain
# the SFTC installation including the OS, Database and AD Group settings.
# -----------------------------------------------------------------------------

# -------------------------------------------
# Client Values (Mandatory)

# clientName - The abbreviated name of the client which is used for emails, e.g., FHLBC, COBA, CPPIB
# ** IMPORTANT ** - For POC1 and POC2, set the clienName to "POC" and environmentName to "POC1" or "POC2".
clientName = ** TODO **

# environmentName - Name of the environment which is used on directory names and groups, e.g., DEV, UAT, PROD, SIT, QA
environmentName = ** TODO **

# jobPrefix - When UAT and DEV are on the same database server, use a prefix for naming of SQL agent jobs, e.g., DEV_, UAT_.  For Production leave blank.
jobPrefix = ** TODO **

# environmentType - This will be either "Prod" or "NonProd" and used in AD group naming
environmentType = ** TODO **

# systemCurency - For new database, need to specify the system currency, e.g., USD, GBP, EUR, JPY
systemCurency = ** TODO **

# -------------------------------------------
# SFTC Components

# includeConnectivityServer - Set to True to include the connectivity server component during installation, otherwise False
includeConnectivityServer = True

# includeOptimizer - Set to True to include the optimizer component server during installation, otherwise False
includeOptimizer = False

# -------------------------------------------
# Directories

# rootPath - Path for the root of SFTC, e.g., D:\
rootPath = D:\

# softwarePath - Path to Software directory, e.g., D:\Software\
softwarePath = D:\Software\

# -------------------------------------------
# Languages

# For full list of Cultures/Languages, run 		Get-Culture -ListAvailable | Select Name, DisplayName
# For full list of Time Zones, run		 		Get-Timezone -listavailable | Select StandardName,DisplayName,BaseUtcOffset

# localeCountry - Country for SFTC property files and Windows OS, e.g., GB, US, CA, DE, JP
localeCountry = ** TODO **

# localeLanguage - Language for SFTC property files and Windows OS, e.g., en, jp
localeLanguage = ** TODO **

# timezone = The time zone for SFTC property files, e.g., US/Eastern, US/Central, Europe/Zurich, Europe/London
timezone = ** TODO **

# timezoneStandardName - The Windows OS Time zone, e.g., US Eastern Standard Time, Central Standard Time, Greenwich Standard Time, Central Europe Standard Time
timezoneStandardName = ** TODO **

# -------------------------------------------
# Server Details

# Server names including domain, e.g, PDC8WCMCAPCAPzz.client.local
applicationServer = ** TODO **
databaseServer = ** TODO **
citrixServer = ** TODO **

# serverRam - The amount of RAM (number only) used by SFTC Core. e.g., "20" for servers with 32GB of RAM, and "48" for servers with 65GB of RAM
serverRam = ** TODO **

# -------------------------------------------
# Network Port Details

# serverJmxPort - The JMX Port using by SFTC Core (1888 Default, and 1889 for DEV when on same server as UAT). e.g., 1888
serverJmxPort = 1888

# connJmxPort - The JMX Port using by SFTC Connectivity Server (1893 Default, and 1894 for DEV when on same server as UAT). e.g., 1893
connJmxPort = 1893

# serviceRequestPort - The Port used by SFTC (4016 Default, and 4017 for DEV when on same server as UAT). e.g., 4016
serviceRequestPort = 4016

# jmsPort - The Port used by SFTC for JMS (4006 Default, and 4008 for DEV when on same server as UAT). e.g., 4006
jmsPort = 4006

# rest.port -The Port used by SFTC for JMS Rest API into Connectivity Server (8082 Default, and 8083 for DEV when on same server as UAT). e.g., 8082
restPort = 8082

# activemqBrokerJmxPort - The Port used by SFTC for Active MQ (1099 Default, and 1100 for DEV when on same server as UAT). e.g., 1099
activemqBrokerJmxPort=1099

# activemqStompPort - The Port used by SFTC for Active MQ STOMP Protocol (61613 Default, and 61614 for DEV when on same server as UAT). e.g., 61613
activemqStompPort=61613

# httpPort - The Port used by SFTC for http/https (8080 Default, and 8081 for DEV when on same server as UAT). e.g., 8080
httpPort=8080

# databaseSQLPort - SQL Server port for the database (1490 for FIS, and 1433 for default SQL), e.g., 1490
databaseSQLPort = 1490

# jobControlRestPort - Job Control REST API Port 5000 Default, and 5001 for DEV when on same server as UAT). e.g., 5000
jobControlRestPort = 5000

# -------------------------------------------
# Apache Active MQ Ports (Optional)

# mqExternalPort - The port used for External Client (SSL) to access queues (61616 Default, and 61618 when DEV when on same server as UAT). e.g., 61616
mqExternalPort = 61616

# mqConnectivityPort - The port used for Apex Connectivity Server to access queues (61617 Default, and 61619 when DEV when on same server as UAT). e.g., 61617
mqConnectivityPort = 61617

# mqAdminPort - The port used for MQ admin web portal (8161 Default, and 8162 when DEV when on same server as UAT). e.g., 8161
mqAdminPort = 8161

# -------------------------------------------
# JPBC Jar
# -------------------------------------------

# sqlJDBCJarFile - The JDBC jar files used (SQL Server) which is include in "New Install Template\Apex\server\core\lib_local\"
sqlJDBCJarFile = mssql-jdbc-9.4.1.jre16.jar

# -------------------------------------------
# System Generated, but can be overridden if required
# -------------------------------------------

# -------------------------------------------
# Active Directory

# groupDomain - The main AD Domain for FIS accounts. e.g., PROD
groupDomain = PROD 

# groupAppAdm - The Application Admin AD Group for FIS users in PROD domain
groupAppAdm = Apex.[[clientName]].[[environmentType]].AppAdm

# groupReadOnly - The Application Read-only AD Group for FIS users in PROD domain
groupReadOnly = Apex.[[clientName]].[[environmentType]].ReadOnly

# clientDomain - The main AD Domain for Client accounts. e.g., CLIENT
clientDomain = CLIENT 

# groupAppAccess - The Application Access AD Group for client users in CLIENT domain
# For POC the Application access group is Apex.POC.Main.ApplicationAccess
groupAppAccess =  Apex.[[clientName]].[[environmentType]].ApplicationAccess

# skipShareCreation True if you want to skip "Step Create Drop Share and Permission" else False 
skipShareCreation =  False

# -------------------------------------------
# Database Details (Name, Users and passwords)

# collateralDatabaseName - Name of Collateral database, e.g., ApexCollateral_UAT
collateralDatabaseName = ApexCollateral_[[environmentName-ToUpperCase]]

# jobControlDatabaseName - Name of Job Control database, e.g., JobControl_UAT
jobControlDatabaseName = JobControl_[[environmentName]]

# databaseApexUser - The main Apex user for database access, e.g., apex_UAT
databaseApexUser = apex_[[environmentName-ToLowerCase]]

# databaseApexPassword - The password for the apex user. This will be automatically generated
# databaseApexPassword - CyberArk = [[clientName]]-[[environmentName-ToUpperCase]]-Apex-Login
databaseApexPassword = ** AUTO GENERATED **

# databaseApexSchema - The apex schema, e.g., apex
databaseApexSchema = apex

# databaseBackupLocation - The database backup location on the database server, e.g., D:\SQL_Backup\Adhoc
databaseBackupLocation = D:\SQL_Backup\Adhoc

# -------------------------------------------
# Other Passwords

# apexEncryptionPassword - The password for the apex encryption.
# apexEncryptionPassword - CyberArk Name: [[clientName]]-[[environmentName-ToUpperCase]]-Apex-Encryption
apexEncryptionPassword = C0LLateraL

# connectivityPassword - The password for the apex connectivity Rest API calls. This will be automatically generated
# connectivityPassword - CyberArk Name: [[clientName]]-[[environmentName-ToUpperCase]]-Apex-Connectivity
connectivityPassword = ** AUTO GENERATED **

# jobControlRestPassword - The password for the Job Control Rest API calls. This will be automatically generated
# jobControlRestPassword - CyberArk Name: [[clientName]]-[[environmentName-ToUpperCase]]-JobControl-Rest
jobControlRestPassword = ** AUTO GENERATED **

# -------------------------------------------
# Apache Active MQ Passwords

# mqSystemPassword - Active MQ System password
# mqSystemPassword - CyberArk Name: [[clientName]]-[[environmentName-ToUpperCase]]-Active-MQ-System
mqSystemPassword = 

# mqApexPassword - Active MQ Apex Connectivity Server password
# mqApexPassword - CyberArk Name: [[clientName]]-[[environmentName-ToUpperCase]]-Active-MQ-FIS
mqApexPassword = 

# mqClientPassword - Active MQ Client password for external connection
# mqClientPassword - CyberArk Name: [[clientName]]-[[environmentName-ToUpperCase]]-Active-MQ-Client
mqClientPassword = 

# mqServerKeyStorePassword - Active MQ Server Key Store password (for FIS use)
# mqServerKeyStorePassword - CyberArk Name: [[clientName]]-[[environmentName-ToUpperCase]]-Active-MQ-ServerKS
mqServerKeyStorePassword = 

# mqClientTrustStorePassword - Active MQ Client Trust Store password (for client use)
# mqClientTrustStorePassword - CyberArk Name: [[clientName]]-[[environmentName-ToUpperCase]]-Active-MQ-ClientTS
mqClientTrustStorePassword = 

# mqWebPortalPassword - The password for the Apache Active MQ web portal.
# mqWebPortalPassword - CyberArk = [[clientName]]-[[environmentName-ToUpperCase]]-Active-MQ-WebPortal
mqWebPortalPassword = C0LLateraL

# -------------------------------------------
# Email Addresses

# emailSupportAlert - FIS email address for alerts for the client, e.g., Apex.Support.[[clientName]]@fisglobal.com
emailSupportAlert = Apex.Support.[[clientName]]@fisglobal.com

# emailSupportInfo - FIS email address for infomation for the client, e.g., Apex.Support.[[clientName]].Info@fisglobal.com
emailSupportInfo = Apex.Support.[[clientName]].Info@fisglobal.com

# --------------------------------------------
# CI Testing Report
ciTestingReportPath = D:\Apex_[[environmentName]]\CI Testing\Reports
